[submodule "ecommerce-app-starter-pack"]
	path = ecommerce-app-starter-pack
	url = git@github.com:Jaymeen1712/ecommerce-app-starter-pack.git
[submodule "next-auth-starter-pack"]
	path = next-auth-starter-pack
	url = git@github.com:Jaymeen1712/next-auth-starter-pack.git
